body {
  text-allign: center;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.commonninja_component pid-f970a0e3-bf6d-4705-a1ce-4cc37ba4385c {
  margin-top: 20px;
}
